<!--index.vtl-->
<h1>Team Tracker</h1>

<h2>Welcome to the Epicodus hackathon!</h2>
<p>To participate in our hackathon, you must split up into teams. Please follow the links below to create your team and add members to it. Thank you.</p><br>

<a href="/teams">View All Teams</a><br>
<a href="/teams/new">Add a New Team</a>
<!--index.vtl-->
