<h1>Add Member to Team $team.getName()</h1>

<form action="/teams/$team.getId()" method="post">
  <label for="name">Member Name</label>
  <input id="name" for="name" type="text">
  <button type="submit" class="btn btn-success">Add Member</button>
</form>
