<h1>Current Teams</h1>
#if ($teams)
  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/$team.getId()">$team.getName()</a></li>
    #end
  </ul>
#else
  <p>No Teams yet.</p>
#end

<a href="/teams/new">Add a New Team</a>
