<h1>Create a new team</h1>

<form action="/teams" method="post">
  <label for="name">Team Name</label>
  <input id="name" for="name" type="text">
  <button type="submit" class="btn btn-success">Add Team</button>
</form> 
